body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #1c0036, #2b0055);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #220044;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 20px #a94eff;
}

.form-box h2 {
  margin-bottom: 25px;
  text-align: center;
  color: #cc99ff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background: #330055;
  color: white;
  font-size: 1em;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #aa00ff;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #cc33ff;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 0.85em;
}

.options label {
  cursor: pointer;
}

.toggle {
  text-align: center;
  font-size: 0.9em;
}

.toggle span {
  color: #cc99ff;
  cursor: pointer;
  user-select: none;
}
